.contato {
  font-family: "Poppins", sans-serif;
  padding: 140px 0px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  color: #f1f1f1;
}

.contato-titulo {
  font-size: 2em;
  font-weight: 700;
  padding-bottom: 0;
}

.contato-icons {
  display: flex;
  gap: 40px;
  font-size: 40px;
}

.contato-icons a {
  color: #f1f1f1;
  transition: color 0.3s ease;
}

.contato-icons a:hover {
  color: #0ee6b7;
}

@media (max-width: 768px) {
  .contato {
    padding: 80px 0;
  }
  
  .contato-titulo {
    font-size: 1.5em;
  }
  
  .contato-icons {
    font-size: 30px;
  }
}
